/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a {
    text-decoration: none;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf0f5;
    height: 101vh;
}

.hr {
    border-top: 1px solid #ddd;
    margin: 8px 0;
}

button {
    border-width: 0;
}

button, input {
    outline: none;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.active {
    display: flex;
}

.anchor {
  display: block;
  height: 185px; 
  margin-top: -185px; 
  visibility: hidden;
}

p.blue-font {
    color: #385898;
    cursor: pointer;
}

p.blue-font:hover {
    text-decoration: underline;
}

.greeting-container {
    width: 980px;
    margin: 0 auto;
    padding: 25px 0 30px;
    display: flex;
}

.greeting {
    width: 565px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    color: #333;
    -webkit-font-smoothing: antialiased;
}

.greeting h1 {
    width: 450px;
    padding: 38px 0 24px;
    font-size: 27px;
    margin: 0;
    line-height: 36px;
}

.greeting i {
    font-size: 50px;
    color: #a5b6d4;
    margin-right: 16px;
}

.greeting-description {
    display: flex;
    margin: 14px 0;
    padding: 2px 0;
}

.greeting-description h2 {
    font-size: 16px;
    margin: 0;
    margin-top: 12px;
}

.greeting-description p {
    padding-left: 5px;
    font-size: 14px;
    color: #555;
    margin: 0;
    margin-top: 15px;
}

.footer-container {
    clear: both;
    width: 100%;
    background-color: white;
    box-shadow: 0 50vh 0 50vh rgb(255, 255, 255);
}

.footer {
    width: 980px;
    margin: 0 auto;
    padding-top: 16px;
}

.footer ul {
    padding: 0;
    margin: 10px 0;
}

.footer li {
    display: inline-block;
    font-size: 12px;
}

.footer li:not(:first-child) {
    padding-left: 10px;
}

.footer a, .signup-description a {
    text-decoration: none;
    color: #385898;
}

.footer a:hover, .signup-description a:hover {
    text-decoration: underline;
}

.footer p {
    font-size: 11px;
    color: #737373;
    margin: 20px 0;
}

.modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-bg.active {
    display: block;
}