.profile-body-left {
    width: 310px;
}

.profile-body-right {
    width: 527px;
}

.profile-body-left i {
    font-size: 14px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 8px;
}

.profile-intro-bio i {
    background-color: #4267B2;
}

.profile-photos i {
    background-color: #B1D587;
}

.profile-friends i {
    background-color: #F3425F;
    width: 24px;
    height: 24px;
    padding: 4px;
    box-sizing: border-box;
}

.profile-intro-info i {
    font-size: 15px;
    color: #333;
    width: 12px;
    line-height: 15px;
}

.profile-intro-info p {
    display: inline-block;
    line-height: 15px;
    margin: 0;
}

.profile-intro {
    background-color: white;
    border: 1px solid #dddfe2;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.profile-intro hr {
    border: 0.5px solid #eee;
}

.profile-intro-bio p {
    text-align: center;
    word-break: break-word;
}

.profile-intro-bio form {
    margin: 8px 0 16px 0;
    border: 1px solid #ebedf0;
    background: #f5f6f7;
    text-align: right;
}

.profile-intro-bio textarea {
    outline: none;
    resize: none;
    border: none;
    border-bottom: 1px solid #ebedf0;
    color: #1d2129;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    text-align: center;
    height: 76px;
}

.profile-intro-bio button {
    cursor: pointer;
    margin: 4px;
    padding: 0 8px;
    font-weight: bold;
    line-height: 22px;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    transition: background-color 200ms ease-in-out;
}

button.intro-bio-cancel-btn {
    margin-right: 0;
    background-color: #f5f6f7;
    border-color: #CCD0CD;
    color: #4B4F5D;
}

button.intro-bio-cancel-btn:hover {
    background: #ebedf0;
    transition: background-color 200ms ease-in-out;
}

button.intro-bio-save-btn {
    color: #fff;
    background-color: #4267b2;
    border-color: #4267b2;
}

button.intro-bio-save-btn:hover {
    background-color: #365899;
    border-color: #365899;
    transition: background-color 200ms ease-in-out;
}

.intro-bio-letter-count {
    margin: 8px;
    color: #90949c;
    font-size: 12px;
    line-height: 12px;
}

.profile-photos {
    background-color: white;
    border: 1px solid #dddfe2;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 12px;
    box-sizing: border-box;
}

.profile-friends {
    background-color: white;
    border: 1px solid #dddfe2;
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    box-sizing: border-box;
}

.profile-posts {
    width: 100%;
}

.profile-post-items {
    width: 100%;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid #dddfe2;
    margin-bottom: 10px;
    padding: 12px 12px 0 12px;
}

.post-item-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-post-items img {
    width: 40px;
}

.post-img-name-date {
    display: flex;
}

.post-name-p, .post-date-p {
    margin: 3px 10px;
}

.post-names {
    display: flex;
}

.post-names i {
    color: #bbb;
    font-size: 7px;
    padding-top: 7px;
    margin-left: -3px;
    margin-right: -3px;
}

p.post-name-p {
    color: #385898;
    font-weight: bold;
    font-size: 15px;
}

p.post-name-p:hover {
    text-decoration: underline;
}

p.post-body {
    font-size: 17px;
    color: #1c1e21;
    margin: 16px 0 14px 0;
}

.post-like-comment {
    display: flex;
    justify-content: space-between;
}

.profile-post-items hr {
    margin: 0;
}

.post-like-comment span {
    display: flex;
    font-weight: bold;
    margin: 5px 0;
}

.post-like-comment > span:hover {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 2px;
    cursor: pointer;
}

.post-like-comment i {
    color: #616770;
    font-size: 16px;
    margin-right: 5px;
}

.post-like, .post-comment {
    width: 50%;
}

.post-like img.like-emoji-img {
    width: 30px;
    height: 30px;
}

p.like-comment-p {
    margin: 0;
    padding-top: 8px;
}

.liked-list {
    display: flex;
}

.liked-list p {
    margin: 0;
    line-height: 30px;
}

.liked-emoji-list img {
    width: 30px;
    height: 30px;
}

.liked-emoji-list img:first-child {
    margin-left: -5px;
}

.liked-emoji-list img:nth-child(2) {
    margin-left: -12px;
}

.liked-emoji-list img:nth-child(3) {
    margin-left: -12px;
}

.liked-emoji-list img:nth-child(4) {
    margin-left: -12px;
}

.liked-emoji-list img:nth-child(5) {
    margin-left: -12px;
}

.liked-emoji-list img:nth-child(6) {
    margin-left: -12px;
}

.comment-span p {
    margin: 0;
    padding-top: 8px;
}


.post-like-comment .like-span, .post-like-comment .comment-span {
    margin: 0 auto;
}

.post-comment-box {
    display: flex;
    width: 100%;
    margin: 10px 0 5px 0;
}

.post-comment-box-msg {
    width: 90%;
    float: right;
}

.post-comment-box img, .comment-items img {
    width: 32px;
}

.post-comment-box-img, .comment-item-img {
    border-radius: 50%;
    overflow: hidden;
    width: 32px;
    height: 32px;
    margin-right: 6px;
}

.post-comment-box textarea {
    font-size: 13px;
    color: #1c1e21;
    background-color:#F2F3F5;
    border-radius: 15px;
    outline: none;
    resize: none;
    padding: 8px 12px;
    height: 34px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
}

p.comment-msg-p {
    margin: 0;
    font-size: 9px;
}

.post-edit-delete-btn {
    display: none;
    margin-left: 480px;
    position: absolute;
    cursor: pointer;
    border: none;
    background-color: none;
}

.post-edit-delete-btn i {
    color: #666;
}

.post-edit-delete-dropdown {
    display: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    margin: 5px 0;
    width: 205px;
    position: absolute;
    margin-left: 298px;
    margin-top: 20px;
    padding: 5px 0;
}

.post-edit-delete-dropdown p {
    padding: 0 12px;
    margin: 0;
    color: #333;
}

.post-edit-delete-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post-edit-delete-dropdown ul li {
    padding: 3px 0;
    cursor: pointer;
    border: 1px solid white;
}

.post-edit-delete-dropdown ul li:hover {
    background-color: #4267b2;
    border: 1px solid #29487d
}

.post-edit-delete-dropdown ul li:hover p {
    color: white;
}

.post-edit-delete-dropdown.dropdown-active {
    display: block;
}

.post-edit-form-container {
    display: none;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-edit-form-container.active-modal {
    display: block;
    z-index: 5;
}

.like-box {
    display: none;
    position: absolute;
    background-color: white;
    width: 315px;
    height: 52px;
    border-radius: 40px;
    margin-left: -20px;
    margin-top: -48px;
    transition: .5s ease;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.like-box img {
    width: 52px;
    height: 52px;
    cursor: pointer;
}

.like-counts {
    display: none;
}

.post-comment-box-msg textarea {
    white-space: nowrap;
    overflow-x: hidden;
}

.comment-items {
    color: #1c1e21;
    font-size: 13px;
}

.comment-items ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment-items li {
    margin-top: 4px;
    padding: 4px 0;
}

.comment-item {
    display: flex;
}

.comment-item-name-body {
    max-width: 410px;
    box-sizing: border-box;
    background-color: #f2f3f5;
    padding: 8px 10px;
    border-radius: 18px;
    word-break: break-word;
}

.comment-item-name {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    margin-right: 4px;
}

.comment-item-name a {
    color: #385898;
}

.comment-item-name:hover {
    text-decoration: underline;
}

.comment-item-like-delete {
    padding-left: 10px;
    color: #385898;
    cursor: pointer;
    font-size: 12px;
}

.like-delete:hover {
    text-decoration: underline;
}

.comment-like-count {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);
    color: #8d949e;
    font-size: 11px;
    font-weight: normal;
    padding: 2px 1px 2px 2px;
    float: right;
    margin-top: -18px;
    margin-right: -35px;
    display: flex;
}

.comment-like-count img {
    width: 17px;
}

.comment-like-count-num {
    padding: 2px;
    height: 5px;
}