.profile-page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-container {
    width: 850px;
    margin: 0 auto;
}

.profile-container h3 {
    font-size: 16px;
    font-weight: normal;
    color: #1c1e21;
    margin: 0;
    display: inline-block;
}

.profile-container p {
    font-size: 12px;
    line-height: 16px;
    -webkit-font-smoothing: antialiased;
    color: #616770;
}

.profile-header a {
    text-decoration: none;
}

.profile-header h2 {
    color: white;
}

.profile-header h2 a {
    color: white;
}

.profile-header p, i {
    color: white;
}

.profile-header i {
    font-size: 21px;
    opacity: 0.6;
}

.add-cover-photo-text i {
    position: absolute;
    margin-left: 20px;
    margin-top: 16px;
    cursor: pointer;
    padding: 6px 8px;
}

.add-cover-photo-text i:hover {
    transition-timing-function: ease-in;
    font-size: 15px;
    transition: font-size 0.2s ease;
    border: 1px solid white;
    border-radius: 2px;
}

.add-cover-photo-text i:hover:after {
    content: "   Add Cover Photo";
    white-space: pre;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-photo-text p {
    margin: 0;
    font-size: 12px;
    color: white;
}

.profile-nav p {
    color: #385898;
    font-size: 14px;
    font-weight: 600;
}

.cover-photo-container {
    height: 205px;
    background-color: black;
    width: 100%;
    z-index: -1;
    box-sizing: border-box;
}

.profile-photo-container {
    border-radius: 50%;
    border: 4px solid white;
    width: 168px;
    height: 168px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    left: 16px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
    top: 65px;
    box-sizing: border-box;
}

.add-photo-text {
    position: absolute;
    z-index: 1;
    left: 52px;
    top: 26px;
}

.half-circle {
    position: relative;
    margin-bottom: 0;
    margin-top: 80px;
    opacity: 0.9;
}

.half-circle-left {
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 160px;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.half-circle-right {
    background: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 160px;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.half-circle:hover .half-circle-left {
    background: rgba(0, 0, 0, 0.9);
    transition: background-color 0.1s ease;
}

.half-circle:hover .half-circle-right {
    background: rgba(0, 0, 0, 0.9);
    transition: background-color 0.1s ease;
}

.half-circle:hover i {
    transition-timing-function: ease-in;
    font-size: 15px;
    transition: font-size 0.2s ease;
}

.profile-nav {
    height: 45px;
    width: 100%;
    border-left: 1px solid #d3d6db;
    border-right: 1px solid #d3d6db;
    border-bottom: 1px solid #d3d6db;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    box-sizing: border-box;
}

.profile-name {
    position: relative;
    left: 205px;
    bottom: 25px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.profile-nav {
    padding-left: 201px;
    box-sizing: border-box;
}

.profile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
}

.profile-nav ul a {
    display: inline-block;
}

.profile-nav ul li {
    display: inline-block;
    border-left: 1px solid #e9eaed;
    padding: 0 17px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.profile-nav ul li:hover {
    background-color: #f5f6f7;
    border-bottom: red;
}

.profile-nav-last-li {
    border-right: 1px solid #e9eaed;
}

.profile-body {
    display: flex;
    margin-top: 11px;
    width: 100%;
    box-sizing: border-box;
}

.profile-page-section-container {
    background-color: white;
    border: 1px solid #e9eaed;
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d6db;
}

.profile-page-section-header {
    height: 58px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #d3d6db;
    padding: 16px;
    box-sizing: border-box;
}

.profile-page-section-header h2 {
    display: inline-block;
    margin: 0;
    color: #4b4f56;
    font-size: 16px;
}

.profile-page-section-header i {
    color: #aaa;
    font-size: 24px;
    margin-right: 10px;
}

.profile-page-section-body {
    height: 300px;
}