.profile-page-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.profile-container {
    width: 850px;
    margin: 0 auto;
}

.profile-container h3 {
    font-size: 15px;
    font-weight: normal;
    color: #1c1e21;
    margin: 0;
    display: inline-block;
}

.profile-container a h3:hover {
    text-decoration: underline;
}

.profile-container p {
    font-size: 12px;
    line-height: 16px;
    color: #616770;
}

.profile-header a {
    text-decoration: none;
}

.profile-header h2 {
    color: white;
}

.profile-header h2 a {
    color: white;
}

.profile-header p, i {
    color: white;
}

.profile-header i {
    font-size: 21px;
    opacity: 0.6;
}

.add-cover-photo-text i {
    position: absolute;
    margin-left: 20px;
    margin-top: 16px;
    cursor: pointer;
    padding: 6px 8px;
}

.add-cover-photo-text i:hover {
    transition-timing-function: ease-in;
    font-size: 15px;
    transition: font-size 0.2s ease;
    border: 1px solid white;
    border-radius: 2px;
}

.add-cover-photo-text i:hover:after {
    white-space: pre;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.add-cover-photo-text.add i:hover:after {
    content: "   Add Cover Photo";
}

.add-cover-photo-text.edit i:hover:after {
    content: "   Update Cover Photo";
}

.add-photo-text p {
    margin: 0;
    font-size: 12px;
    color: white;
    font-weight: bold;
}

.profile-nav p {
    color: #385898;
    font-size: 14px;
    font-weight: 600;
}

.cover-photo-container {
    height: 205px;
    background-color: black;
    width: 100%;
    z-index: -1;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.profile-photo-container {
    border-radius: 50%;
    border: 4px solid white;
    width: 168px;
    height: 168px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    left: 16px;
    bottom: 0;
    text-align: center;
    top: 65px;
    box-sizing: border-box;
}

.add-photo-text {
    position: absolute;
    top: 26px;
}

.add-photo-text.add {
    left: 51px;
}

.add-photo-text.edit {
    left: 60px;
}

.half-circle {
    position: relative;
    margin-bottom: 0;
    margin-top: 80px;
    opacity: 0.9;
    cursor: pointer;
}

.half-circle.edit {
    opacity: 0;
}

.half-circle.edit:hover {
    opacity: 1;
}

.half-circle-left {
    background: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 160px;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.half-circle-right {
    background: rgba(0, 0, 0, 0.6);
    border-bottom-right-radius: 160px;
    height: 80px;
    width: 80px;
    display: inline-block;
}

.half-circle:hover .half-circle-left {
    background: rgba(0, 0, 0, 0.9);
    transition: background-color 0.1s ease;
}

.half-circle:hover .half-circle-right {
    background: rgba(0, 0, 0, 0.9);
    transition: background-color 0.1s ease;
}

.half-circle:hover i {
    transition-timing-function: ease-in;
    font-size: 15px;
    transition: font-size 0.2s ease;
}

.profile-nav {
    height: 45px;
    width: 100%;
    border-left: 1px solid #d3d6db;
    border-right: 1px solid #d3d6db;
    border-bottom: 1px solid #d3d6db;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    box-sizing: border-box;
}

.profile-name {
    position: relative;
    display: inline-block;
    left: 205px;
    bottom: 25px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.profile-nav {
    padding-left: 201px;
    box-sizing: border-box;
}

.profile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
}

.profile-nav ul a {
    display: inline-block;
}

.profile-nav ul li {
    display: inline-block;
    border-left: 1px solid #e9eaed;
    padding: 0 17px;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.profile-nav ul li:hover {
    background-color: #f5f6f7;
    border-bottom: red;
}

.profile-nav-last-li {
    border-right: 1px solid #e9eaed;
}

.profile-body {
    display: flex;
    margin-top: 11px;
    width: 100%;
    box-sizing: border-box;
}

.profile-page-section-container {
    background-color: white;
    border: 1px solid #e9eaed;
    width: 100%;
    border-radius: 3px;
    padding: 12px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid #d3d6db;
}

.profile-page-section-header {
    height: 58px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #d3d6db;
    padding: 19px 16px;
    box-sizing: border-box;
}

.profile-page-section-header h2 {
    display: inline-block;
    margin: 0;
    color: #4b4f56;
    font-size: 16px;
}

.profile-page-section-header i {
    color: #aaa;
    font-size: 20px;
    margin-right: 8px;
}

.profile-page-section-body {
    min-height: 300px;
}

.profile-img-upload, .cover-img-upload {
   opacity: 0.0;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   -moz-opacity: 0.0;
   -khtml-opacity: 0.0;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height:100%;
   cursor: pointer;
}

.friend-btn {
    float: right;
    padding-right: 15px;
    margin-top: -5px;
}

.friend-btn button {
    background-color: #f5f6f7;
    color: #4b4f56;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
}

.friend-btn button:hover {
    background-color: #ebedf0;
    transition: background-color 200ms ease-in-out;
}

.friend-btn button:active {
    background-color: #dddfe2;
    transform: scale(.98);
}

.friend-btn i {
    color: #000;
    font-size: 12px;
    margin-right: 4px;
    line-height: 26px;
}

.friend-menu {
    display: none;
    position: absolute;
    width: 850px;
}

.friend-menu-tip {
    float: right;
    margin-right: -180px;
    margin-top: 27px;
    background-color: #fff;
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    border-left: 1px solid rgba(0, 0, 0, .45);
    border-top: 1px solid rgba(0, 0, 0, .45);
}

.friend-menu ul {
    float: right;
    background-color: #fff;
    margin-right: 15px;
    margin-top: 32px;
    border: 1px solid rgba(0, 0, 0, .45);
    border-radius: 1px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    padding: 5px 0;
    list-style: none;
    width: 192px;
}

.friend-menu ul li {
    padding: 2px 22px;
    border: 1px solid #fff;
    cursor: pointer;
}

.friend-menu ul li:hover {
    background-color: #4267b2;
    border: 1px solid #29487d;
}

.friend-menu ul li p {
    color: #1d2129;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.friend-menu ul li:hover p {
    color: #fff;
}

.friend-menu.active {
    display: block;
}