.signup-form-container {
    width: 399px;
    color: #333;
}

.signup-form-header {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

.signup-form-header h1 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 36px;
}

.signup-form-header p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 19px;
}

.signup-form input, select {
    border-radius: 5px;
    border: 1px solid #bdc7d8;
}

.signup-form input[type=text], .signup-form input[type=password], .signup-form input[type=email] {
    width: 100%; 
    box-sizing: border-box;
    height: 39px;
    padding: 8px 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

.name-input {
    display: flex;
    justify-content: space-between;
}

.name-input-item {
    width: 50%;
}

.name-input-item.first {
    margin-right: 10px;
}

.signup-form h2 {
    color: #90949c;
    font-size: 16px;
    margin: 10px 0 5px 0;
}

.signup-form select {
    font-size: 13px;
    height: 30px;
    padding: 5px;
}

.gender-input {
    padding: 5px 4px;
}

.signup-form input[type=radio] {
    margin: 3px;
    vertical-align: top;
}

.signup-form input[type=radio] + label {
    font-size: 18px;
    padding: 0 10px 0 3px;
}

.signup-btn {
    color: white;
    margin: 10px 0;
    width: 194px;
    padding: 7px 20px;
    font-size: 19px;
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-radius: 5px;
    border: 1px solid #3b6e22;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    cursor: pointer;
}

.signup-btn:hover {
    background: linear-gradient(#7abd60, #578843);
}

.signup-error-msg {
    background-color: #be4b49;
    color: white;
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    font-size: 13px;
    max-width: 300px;
    padding: 13px 12px;
    -webkit-font-smoothing: subpixel-antialiased;
    border-radius: 2px;
    
}

.signup-error-msg-container {
    display: none; 
    position: absolute;
}

.signup-error-msg-container.active {
    display: block;
    z-index: 100;
}

.signup-error-msg-tip {
    width: 13px;
    height: 13px;
    background-color: #be4b49;
    transform: rotate(45deg);
    position: absolute;
    right: -6px;
    top: 14px;
    z-index: 200;
    border-radius: 1px;
}

.signup-error-msg-tip.last-name {
    top: -6px;
    left: 15px;
}

.signup-error-msg-tip.email, .signup-error-msg-tip.password {
    top: 18px;
}

.signup-error-msg-tip.shadow {
    box-shadow: 0 0 0 1px rgba(139, 3, 0, .75), 0 1px 10px rgba(0, 0, 0, .35);
    z-index: -1;
}

.error-first-name {
    margin-left: -157px;
}

.error-last-name {
    margin-left: 205px;
    margin-top: 56px;
}

.error-email {
    margin-left: -345px;
    margin-top: -5px;
}

.error-password {
    margin-left: -345px;
    margin-top: -5px;
}

.error-gender {
    margin-left: -173px;
}

.signup-description {
    font-size: 11px;
    color: #777;
    margin: 11px 0;
}

.signup-msg-btn i {
    color: #666;
    cursor: pointer;
    font-size: 16px;
}

.signup-msg-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.signup-msg-btn.first {
    margin-left: 14px;
}

.signup-info-msg-container {
    display: none;
    position: absolute;
    width: 312px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    padding: 12px;
    margin-top: -3px;
    margin-left: -363px;
}

.signup-info-msg-container.second {
    margin-left: -348px;
    margin-top: -7px;
}

.signup-info-msg {
    padding-bottom: 12px;
    font-size: 12px;
}

.signup-info-msg p {
    margin: 0;
    margin-bottom: 12px;
}

.signup-info-close-btn {
    color: white;
    background-color: #4267b2;
    border: 1px solid #4267b2;
    padding: 0 8px;
    height: 24px;
    font-weight: 500;
    border-radius: 2px;
    font-size: 12px;
    line-height: 22px;
    margin-top: 4px;
    cursor: pointer;
}

.signup-info-msg-arrow {
    position: absolute;
    top: 11px;
    right: -12px;
    border: 6px solid transparent;
    border-left: 6px solid #fff;
}

.signup-info-msg-arrow-border {
    position: absolute;
    top: 10px;
    right: -14px;
    border: 7px solid transparent;
    border-left: 7px solid rgba(0, 0, 0, .3);
}

.msg-active {
    display: inline-block;
}

.signup-form input.error-active {
    border: 1px solid red;
    position: relative;
}

i.fas.fa-exclamation-circle {
    display: none;
    color: #be4b49;
    font-size: 21px;
    position: absolute;
    z-index: 1;
    margin-top: 9px;
    margin-left: 162px;
}

i.fas.fa-exclamation-circle.first-name {
    margin-left: 162px;
}

i.fas.fa-exclamation-circle.last-name, i.fas.fa-exclamation-circle.email, i.fas.fa-exclamation-circle.password, i.fas.fa-exclamation-circle.gender {
    margin-left: 365px;
}

i.fas.fa-exclamation-circle.gender {
    margin-top: 0;
}

i.fas.fa-exclamation-circle.error-active {
    display: flex;
}