.top-nav-container {
    height: 42px;
    background-color: #4267AA;
    border-bottom: 1px solid #29487d;
    font-size: 12px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-nav {
    width: 1012px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
}

.top-nav ul {
    margin: 0;
    padding: 0;
}

.top-nav ul li {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
}

.top-nav ul li a {
    text-decoration: none;
    color: white;
}

.top-nav ul:nth-child(2) li:first-child:hover, .top-nav ul:nth-child(2) li:nth-child(2):hover {
    background-color: #345794;
}

.top-nav ul:nth-child(2) li {
    border-left: 1px solid #305088;
    padding: 0 12px;
}

.top-nav ul:nth-child(2) li:first-child {
    border-left: none;
}

.top-nav ul:nth-child(2) li:last-child {
    padding-right: 0;
    padding-left: 8px;
}

.top-nav ul li i {
    color: #1c1e21;
    font-size: 18px;
    margin: 4px 6px;
}

i.fab.fa-facebook-f {
    color: white;
    font-size: 23px;
    margin: 0;
    margin-left: 5px;
    top: 0;
    margin-right: 7px;
    padding-top: 2px;
}

.top-nav p {
    color: white;
    font-size: 12px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    margin: 8px 0;
}

.search-bar {
    width: 448px;
    box-sizing: border-box;
    height: 26px;
    font-size: 13px;
    color: #1d2129;
    padding: 4px 0 3px 7px;
    border: none;
    border-radius: 3px;
    border: 1px solid #3b5998;
}

.search-bar-li {
    position: relative;
}

.search-icon {
    position: absolute;
    right: 0;
    background-color: #f5f6f7;
    height: 24px;
    padding: 0 16px;
    margin-top: 1px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

i.fas.fa-search {
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
    color: #4b4f56;
}

.logout-dropdown {
    display: none;
    background-color: white;
    width: 200px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    margin-right: -300px;
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    cursor: pointer;
    padding-top: 5px;
}

.logout-dropdown p {
    color: #666;
    font-weight: normal;
    padding: 5px 0 5px 25px;
    margin-top: 0;
    margin-bottom: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
}

.logout-dropdown p:hover {
    background-color: #4267b2;
    color: white;
}

.logout-arrow-btn {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.dropdown-active {
    display: block;
}

i.fas.fa-caret-down.dropdown-active {
    color: white;
}

.logout-dropdown-tooltip {
    position: absolute;
    right: 13px;
    top: -13px;
    border: 6px solid transparent;
    border-bottom: 7px solid white;
}

.logout-dropdown-tooltip-border {
    position: absolute;
    right: 12px;
    top: -15px;
    border: 7px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, .15);
}

.friend-notification {
    position: relative;
    display: inline-block;
}

.friend-notification-count {
    position: absolute;
    background-color: #f13d26;
    right: 0;
    padding: 0 3px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
}

.friend-notification-count p {
    line-height: 0;
    font-size: 10px;
    margin-top: 8px;
}